---
layout: ""
page_title: "Provider: Unarchive"
description: |-
  The unarchive provider provides resources to extract archive files.
---

# Unarchive Provider

The unarchive provider provides resources to extract archive files.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
